<!-- views/auth/signup.hbs -->
<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JohnDoe" required>

  <br>
  <br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password" required>

  <br>
  <br>

  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="Your email" required>

  <br>
  <br>
  <label for="age">Age</label>
  <input id="age" type="number" name="age" placeholder="Your age" required>

  <br>
  <br>
  <label for="profilePic">Profile Picture</label>
  <input id="profilePic" type="file" name="profilePic" required>

  <br>
  <br>
  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>