<!-- views/auth/signup.hbs -->
<section>
  <div class="title-container">
    <h2>Edit this group</h2>
  </div>
  <form action="/group/{{group._id}}/edit" method="POST" id="form-container" enctype="multipart/form-data">
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <div class="form-group">
      <label for="exampleInputGroupName">Group Name</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="{{group.name}}">
    </div>

    <div class="form-group">
      <label for="exampleInputLocation">Location</label>
      <input type="text" class="form-control" id="location" name="location" placeholder="Your location">
    </div>

    <div class="form-group">
      <label for="exampleInputMembers">Members</label>
      <input type="text" class="form-control" id="members" name="members" placeholder="Members">
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="checkbox" name="checkbox" placeholder="Accept new members?">
      <label class="form-check-label" for="exampleCheck">New Members</label>
    </div>

    <div class="form-group">
      <label for="groupPic">Image</label>
      <input class="form-control-file" id="img" type="file" name="img">
    </div>

    <div>
      <button type="submit" class="button-color btn btn-success">Edit</button>
    </div>
  </form>
</section>