<section id="header">
  <div>
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
</div>
</section>

<section id="icons">
  <div class="column">
    <img src="images/man.png" alt="users" width="150px">
    <h3>USERS</h3>
    <p>Create your user and join the community.</p>
  </div>
  <div class="column">
    <img src="images/team.png" alt="groups" width="150px">
    <h3>GROUPS</h3>
    <p>Find and create a gaming group for your favourite games.</p>
  </div>
  <div class="column">
    <img src="images/peoplePlaying.png" alt="games" width="150px">
    <h3>GAMES</h3>
    <p>Lots of games are waiting for you!</p>
  </div>
</section>

<footer>

</footer>

