<section id="header">
  <div>
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
</div>
</section>

<section id="icons">
  <div class="column">
    <img src="images/man.png" alt="users" width="150px">
    <h3>USERS</h3>
  </div>
  <div class="column">
    <img src="images/team.png" alt="groups" width="150px">
    <h3>GROUPS</h3>
  </div>
  <div class="column">
    <img src="images/peoplePlaying.png" alt="games" width="150px">
    <h3>GAMES</h3>
  </div>
</section>

<footer>

</footer>

