<section id="header">
  <div>
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
</div>
</section>

<section id="icons">
  <div class="column">
    <img src="" alt="users">
    <p>sfdsfdsf</p>
  </div>
  <div class="column">
    <img src="" alt="groups">
    <p>dsfsdfsdf</p>
  </div>
  <div class="column">
    <img src="" alt="games">
    <p>dsfsdfsd</p>
  </div>
</section>

<footer>

</footer>

