<section id="header">
  <div>
    <div>
      <img src="images/meeple.png" alt="meeple" width="170px">
    </div>
    <div>
      <img src="images/question_mark.png" alt="question_mark" width="118px">
    </div>
    <div class="title-index">
      <h1>{{title}}</h1>
    </div>
  </div>
</section>

<section id="icons">
  <div class="column">
    <img src="images/man.png" alt="users" width="120px">
    <h3>USERS</h3>
    <p>Create your user and join the community.</p>
  </div>
  <div class="column">
    <img src="images/team.png" alt="groups" width="120px">
    <h3>GROUPS</h3>
    <p>Find and create a group for your favourite games.</p>
  </div>
  <div class="column">
    <img src="images/peoplePlaying.png" alt="games" width="120px">
    <h3>GAMES</h3>
    <p>Lots of games are waiting for you!</p>
  </div>
</section>