<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      {{#if user}}
      <div class="auth">
        <a href="/user/profile">Check my profile</a>
        <a href="/group/list">Group List</a>
        <a href="/auth/logout">Log out</a>
      </div>
      {{/if}}
      {{#unless user}}
      <div class="auth">
        <a href="/auth/signup">Sign Up</a>
        <a href="/auth/login">Log in</a>
      </div>
      {{/unless}}
    </nav>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
