<!-- views/auth/signup.hbs -->
<section>
  <div class="title-container">
    <h2>Edit</h2>
  </div>

  <form action="/user/{{user._id}}/edit" method="POST" id="form-container" enctype="multipart/form-data">
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <div class="form-group">
      <label for="exampleInputUser">Username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="Username">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Your password">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Your email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputAge">Age</label>
      <input type="text" class="form-control" id="age" name="age" placeholder="Your age">
    </div>

    <div class="form-group pic">
      <label for="profilePic">Profile Picture</label>
      <input class="form-control-file" id="profilePic" type="file" name="profilePic">
    </div>

    <div>
      <button type="submit" class="button-color btn btn-success">Edit</button>
    </div>
  </form>
</section>