@import url("https://fonts.googleapis.com/css?family=Hammersmith+One");
.card {
  margin: 1vh;
  background-color: lightgrey;
  width: 12rem; }

.list-container {
  position: relative;
  left: 16%;
  display: inline-block; }

.list-appointment {
  margin-top: 9vh; }

.h2-listappointment {
  text-align: center;
  margin-top: 2vh; }

.button-appoint {
  margin-top: 3vh; }

body {
  font: 18px "Hammersmith One", sans-serif; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

label {
  font-size: 1.1rem; }

.title-container {
  position: relative;
  margin: 2vh 0;
  left: 45%;
  display: inline-block; }

.jumbotron {
  margin-top: 4vh; }

section .title-container {
  padding-top: 4vh;
  height: 10vh;
  width: 40vw;
  margin: 0 auto;
  font-size: 2rem; }

section form {
  width: 40vw;
  height: 50vh;
  margin: 0 auto; }

section .title-login {
  padding: 10vh; }

section .button-color {
  background-color: #019b0a;
  margin-top: 2vh;
  margin-bottom: 4vh; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

nav {
  background-color: #038f0d;
  color: white;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav .logo {
    margin-left: 2vw; }
  nav .auth1 {
    display: flex;
    width: 15%;
    justify-content: space-around; }
    nav .auth1 img {
      margin-left: 10px; }
    nav .auth1 a:hover {
      background-color: #019b0a; }
    nav .auth1 a {
      text-decoration: none;
      color: white;
      padding: 9px; }
  nav .auth2 {
    display: flex;
    width: 35%;
    justify-content: space-around; }
    nav .auth2 a:hover {
      background-color: #019b0a; }
    nav .auth2 a {
      text-decoration: none;
      color: white;
      padding: 9px; }

#header {
  background-image: url("/images/jaciel-melnik-399287-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-position: 100%; }
  #header div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh; }
    #header div div {
      text-align: center;
      padding: 1vw; }
      #header div div img {
        opacity: 0.7; }
    #header div .title-index {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 30px;
      color: rgba(255, 255, 255, 0.8); }
      #header div .title-index h1 {
        font-size: 3rem; }

#icons {
  margin-top: 4vh;
  background: white;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  #icons div {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center; }

#title-container {
  display: inline-block;
  position: relative;
  left: 20%; }

.profile-container {
  margin-left: 10%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .profile-container .flex-column {
    background-color: lightgrey;
    width: 35%;
    border-radius: 10px; }
    .profile-container .flex-column #data-img {
      margin: 10px;
      display: flex; }
    .profile-container .flex-column #form-container {
      margin: 0 2vh; }
      .profile-container .flex-column #form-container * {
        margin: 1vh 0; }
    .profile-container .flex-column #img-container {
      position: relative;
      width: 150px;
      height: 150px;
      border: 1px solid black;
      border-radius: 50%; }
      .profile-container .flex-column #img-container img {
        position: absolute;
        left: 10%;
        top: 10%;
        max-width: 80%;
        max-height: 80%; }

iframe {
  width: 65%;
  height: 500px; }

#appointment-title {
  display: inline-block;
  position: relative;
  left: 41%; }

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .flex-column .search-form {
    width: 40vw; }

#members-group-list {
  max-height: 300px;
  overflow: scroll; }

.game-container {
  background-color: lightgrey;
  margin-top: 4vh; }
  .game-container .row-game {
    display: flex;
    justify-content: center;
    align-items: center; }
    .game-container .row-game .game-info {
      display: flex;
      flex-direction: column; }
    .game-container .row-game .img-container {
      position: relative;
      width: 300px;
      height: 300px;
      border-radius: 50%; }
      .game-container .row-game .img-container img {
        position: absolute;
        left: 10%;
        top: 10%;
        max-width: 80%;
        max-height: 80%; }
  .game-container .game-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4vh; }

/*# sourceMappingURL=style.css.map */