<!-- views/auth/signup.hbs -->
<h2>New Game</h2>

<form action="/game/new" method="POST" id="form-container" enctype="multipart/form-data">
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Agricola" required>

  <br>
  <br>

  <label for="theme">Theme</label>
  <select name="theme" id="theme">
    <option value="Strategy" selected="selected">Strategy</option>
    <option value="Card Game">Card Game</option>
    <option value="Negotiation">Negotiation</option>
    <option value="Economics">Economics</option>
    <option value="Cooperative">Cooperative</option>
    <option value="Worker Placement">Worker Placement</option>
  </select>

  <br>
  <br>

  <label for="category">Category</label>
  <select name="category" id="category">
    <option value="Eurogame" selected="selected">Eurogame</option>
    <option value="Adventure Game">Adventure Game</option>
    <option value="Family Game">Family Game</option>
    <option value="Party Game">Party Game</option>
  </select>
  <br>
  <br>

  <label for="minPlayers">Minimum number of players</label>
  <input id="minPlayers" type="number" name="minPlayers" min="1" placeholder="1" required>

  <br>
  <br>
  <label for="maxPlayers">Maximum number of players</label>
  <input id="maxPlayers" type="number" name="maxPlayers" placeholder="12" required>
  <br>
  <br>

  <label for="minAge">Minimum recommended age for players</label>
  <input id="minAge" type="number" name="minAge" min="1" placeholder="5" required>

  <br>
  <br>
  <label for="maxAge">Maximum recommended age for players</label>
  <input id="maxAge" type="number" name="maxAge" placeholder="99" required>

  <br>
  <br>

  <label for="difficulty">Difficulty</label>
  <input id="difficulty" type="number" step="0.01" name="difficulty" min="0" max="5" placeholder="From 0 to 5" required>

  <br>
  <br>

  <label for="img">Game photo</label>
  <input id="img" type="file" name="img" required>

  <br>
  <br>
  <button>Create</button>
</form>