section {

  .title-container{
    padding-top: 4vh;
    height: 10vh;
    width: 40vw;
    margin: 0 auto;
    font-size: 2rem;
  }

  form {
    width: 40vw;
    height: 50vh;
    margin: 0 auto;
  }

  .button-color {
    background-color: $green;
    margin-top: 2vh;
    margin-bottom: 4vh;
  }

  

}



