.container-profile{
  display:flex;
  width: 100%;
}
#profile-form{
  display:flex;
  flex-direction: column;
  width: 40%;
  #data-img{
    display: flex;
    justify-content: space-between;
    img{
      border-radius: 60%;
    }
  }

}

iframe{
  width: 80%;
  height: 500px;
}