<div class="list-appointment">
  <h1 id="appointment-title">Open Games list</h1>
  <div class="container">
    <div class="flex-column">
      <a href="/appointment/new" class="button-appoint btn btn-success">Create a new Appointment</a>
      <h2 class="h2-listappointment">OR</h2>
      <div>
        <h2 class="h2-listappointment">Find an open Game! </h2>
        <form action="/appointment/search" method="post" class="search-form">
          <div class="form-group">
            <label for="game">Game: </label>
            <input class="form-control" type="text" name="game" id="game">
          </div>
          <div class="form-group">
            <label for="date">Date: </label>
            <input class="form-control" type="datetime-local" name="date" id="date">
          </div>
          <div class="form-group">
            <label for="group">Group: </label>
            <input class="form-control" type="text" name="group" id="group">
          </div>
          <div>
            <button class="btn btn-success button-color">Find!</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      {{#each appointment}}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{game.name}}</h5>
          {{#fecha date}}{{this}}{{/fecha}}
          <a href="/appointment/{{_id}}/" class="card-link">{{group.name}}</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>